
@{
    ViewData["Title"] = "Enter_City";
}

<h1>Enter_City</h1>

<form method="post">

    <label for="City_Id">Enter the City Id:</label>
    <input type="number" placeholder="Enter a number " id="cId" name="cId"><br>
    <label for="City_Name">Enter the City name:</label>
    <input type="text" placeholder="Enter a name " id="cName" name="cName"><br>
    <label for="Country_Id">Enter the Country Id:</label>
    <input type="number" placeholder="Enter a country id " id="ctryId" name="ctryId"><br>
    <input type="submit" value="Create">
</form>

