
@{
    ViewData["Title"] = "Enter_Country";
}

<h1>Enter_Country</h1>
<form method="post">

    <label for="Country_Id">Enter the Country Id:</label>
    <input type="number" placeholder="Enter a number " id="Ctry_Id" name="Ctry_Id"><br>
    <label for="Country_Name">Enter the Country name:</label>
    <input type="text" placeholder="Enter a name " id="Ctry_Name" name="Ctry_Name"><br>
    
    <input type="submit" value="Create">
</form>



